<!-- cadastro.page.scss contém a declaração CSS !important -->


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center logo-center">
    <img src="../../assets/icon/presente.png">
  </div>

  <div class="flex-center">
    <ion-card>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top font-color" type="submit" expand="full" color="primary" (click)="cadastro()">Concluir</ion-button>
      <p class="ion-text-center">ou</p>
      <ion-button class="ion-text-lowercase" color="danger" expand="full" (click)="cadastro()">
        <ion-icon name="logo-google"></ion-icon>mail</ion-button>
    </ion-card>
    </div>
</ion-content>