//centraliza o formulário

ion-card{
    width: 100% !important;
    margin: 20px !important;
    box-shadow: none !important;
  }

  .logo-center{
    height: 50px!important;
    width: 50px!important;
    margin: 10% auto 10% !important;
  }