//centraliza o formulári
 ion-card, ion-toolbar{
   width: 100% !important;
   margin: auto !important;
   box-shadow: none !important;
   --background: transparent;
   --ion-color-base: transparent !important;
 }

 ion-item{
    width: 100%;
   --background: transparent !important;
   --ion-color-base: transparent !important;
 }

ion-button{
   width: 100%;
}

 hr{
   border-top: 1px solid;
   width: 100%;
   color: #e2e2e2;
 }

 p{
   width: auto;
 }

 ion-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
 }

 ion-text{
   p, h5{
      text-align: center;
      margin: 0 auto;
      width: auto;
   }
 }

