ion-toolbar{
    ion-item{
        padding-left: 10px;

        ion-label{
            padding-left: 10px;
        }
    }
}
ion-list{

    ion-item{
    width: 100%;
    }

    ion-label{
        padding: 10px 20px 10px 20px;
    }
}

ion-avatar{
    height: 50px;
    width: 50px;
    margin: 0;
}

ion-buttons{
    ion-icon{ 
        padding-left: 3px;
    }

    text-transform: none!important;
}

ion-list-header{
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
}