ion-label{
    padding-left: 15px;
}

ion-header{
    height: 100px;
}

ion-list{

    ion-item{
    width: 100%;
    }

    ion-label{
        padding: 10px;
    }

}

ion-avatar{
    height: 60px;
    width: 60px;
    margin: 0;
}