ion-header{
    height: 100px;
}

ion-list{

    ion-item{
    width: 100%;
    }

    ion-label{
        padding: 10px 20px 10px 20px;
    }

}

ion-avatar{
    height: 60px;
    width: 60px;
    margin: 0;
}

ion-buttons{

    ion-icon{ 
        padding-left: 3px;
    }
}