//centraliza o formulário
ion-card{
  width: 100% !important;
  margin: 20px !important;
  box-shadow: none !important;
}
.logo-center{
  height: 100px!important;
  width: 100px!important;
  margin: 20% auto 0 auto !important;
}
