<!-- login.page.scss contém a declaração CSS !important -->

<ion-content [fullscreen]="true">

  <div class="flex-center logo-center">
    <img src="../../assets/icon/presente.png">
  </div>

  <div class="flex-center">
    <ion-card>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top" type="submit" expand="full" color="primary" (click)="login()">
        Entrar
      </ion-button>
      <ion-button [hidden]="true" class="ion-text-capitalize" size="full" color="dark" expand="block" fill="clear">Esqueceu email/senha</ion-button>
        <p class="ion-text-center">ou</p>
      <ion-button class="ion-margin-top"color="tertiary" expand="full" (click)="cadastro()">
        Criar conta
      </ion-button>
    </ion-card>
  </div>
</ion-content>