<!-- login.page.scss contém a declaração CSS !important -->

<ion-content [fullscreen]="true">

  <div class="flex-center logo-center">
    <img src="../../assets/icon/presente.png">
  </div>

  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName='email' placeholder="exemplo@email.com"></ion-input>
        </ion-item>
        <app-alerta-validacao [field]="form.get('email')" error="required" message="Email Obrigatório"></app-alerta-validacao>
        <app-alerta-validacao [field]="form.get('email')" error="email" message="Email inválido"></app-alerta-validacao>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName='password' placeholder="Mínimo de 8 caractéres"></ion-input>
        </ion-item>
        <app-alerta-validacao class="" [field]="form.get('password')" error="required" message="Senha obrigatória"></app-alerta-validacao>
        <ion-button class="ion-margin-top" type="submit" expand="full" color="primary" (click)="login()">Entrar</ion-button>
        <p class="ion-text-center ion-margin-top">ou</p>
        <ion-button color="tertiary" expand="full" (click)="cadastro()">Criar conta</ion-button>
        <ion-button  class="ion-text-capitalize" size="full" color="secondary" [disabled]="!form.get('email').valid" expand="block" fill="clear" >Esqueceu email/senha</ion-button>
      </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>