<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title slot="start">Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-card class="flex-center">
  <ion-card-content class="ion-text-center">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="ion-text-center">Inicio</ion-label>
      <br><br>
      <p><strong>Olá, Camaradas!</strong></p>
      <hr>
      <p> Apenas um recadinho da Tia Suh</p>
      <a target="_blank" href="https://www.dmtemdebate.com.br/sobre-a-consciencia-de-classe/">Consciência de classe é muito importante!</a>
  </ion-card-content>
</ion-card>
</ion-content>
