<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title slot="start">Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-content>

      <ion-list>
         <ion-item lines="none" *ngFor="let item of produtos">
            <ion-card>
               <ion-card-content class="ion-no-padding">
               <ion-grid fixed>
                  <ion-row>
                     <ion-col size="6">
                        <ion-thumbnail>
                           <ion-img size="large" [src]="item.imagem"></ion-img>
                        </ion-thumbnail>
                     </ion-col>
                     <ion-col size="6">
                        <ion-label>{{item.nome}}</ion-label>
                        <ion-text color="">
                           <p>{{item.descricao}}</p>
                        </ion-text>
                        <ion-grid class="preco" class="ion-no-padding" fixed>
                           <ion-row>
                              <ion-col  size="6">
                                 <ion-text color="primary">
                                    <p>Preço</p>
                                 </ion-text>
                              </ion-col>
                              <ion-col size="6">
                                 <ion-text color="primary">
                                    <p>R$ {{item.preco}}</p>
                                 </ion-text>
                              </ion-col>
                           </ion-row>
                        </ion-grid>
                     <ion-icon size="" name="star-outline"></ion-icon>
                     <ion-icon size="" name="star-outline"></ion-icon>
                     <ion-icon size="" name="star-outline"></ion-icon>
                     <ion-icon size="" name="star-outline"></ion-icon>
                     <ion-icon size="" name="star-outline"></ion-icon>
                     </ion-col>
                  </ion-row>
               </ion-grid>
              </ion-card-content>
            </ion-card>
         </ion-item>
      </ion-list>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Carregando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ion-content>
