<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="busca">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Busca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-icon name="gift-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
