<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title slot="start">Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>

    

  <div id="container" class="flex-center-page">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
    <br>
    <p><strong>Olá, Camaradas!</strong></p>
    <hr>
    <p> Apenas um recadinho da Tia Suh:</p>
    <a target="_blank" href="https://www.dmtemdebate.com.br/sobre-a-consciencia-de-classe/">Conciencia de classe é muito importate!</a>
  </div>
</ion-content>
