<!-- login.page.scss contém a declaração CSS !important -->
<ion-header class="ion-no-border"[translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title class="ion-text-center" >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>

   <div class="flex-center">
      <form [formGroup]="form">
         <ion-card>
            <ion-card-content>
               <ion-item class="ion-no-padding">
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" formControlName='email' placeholder="exemplo@email.com"></ion-input>
               </ion-item>
               <app-alerta-validacao [field]="form.get('email')" error="required" message="Email Obrigatório">
               </app-alerta-validacao>
               <app-alerta-validacao [field]="form.get('email')" error="email" message="Email inválido">
               </app-alerta-validacao>
               <ion-item class="ion-no-padding">
                  <ion-label position="floating">Senha</ion-label>
                  <ion-input class="ion-no-padding ion-text-none" type="password" formControlName='password'
                     placeholder="Digite sua senha"></ion-input>
               </ion-item>
               <ion-item class="ion-no-padding" lines="none">
                  <ion-button class="text-transform-none ion-no-padding" slot="end" color="secondary" [disabled]="!form.get('email').valid" expand="block"
                     fill="clear">Esqueceu a senha?</ion-button>
               </ion-item>
               <app-alerta-validacao class="" [field]="form.get('password')" error="required"
                  message="Senha obrigatória"></app-alerta-validacao>
               <ion-button class="text-transform-none"type="submit"  shape="round" expand="block" color="primary"
                  (click)="login()">Entrar</ion-button>
               
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-padding">
                      <ion-col><hr></ion-col>
                      <ion-col><p>ou</p></ion-col>
                      <ion-col><hr></ion-col>
                   </ion-row>
                  <ion-row>
                     <ion-col>
                        <ion-button class="text-transform-none" shape="round" color="facebook" expand="block" (click)="cadastro()">Facebook</ion-button>
                        <br>
                     </ion-col>
                     <ion-col>
                        <ion-button class="text-transform-none" shape="round" color="twitter" expand="block" (click)="cadastro()">Twitter</ion-button>
                        <br>
                     </ion-col>
                  </ion-row>
               </ion-grid>

            </ion-card-content>
         </ion-card>
      </form>
   </div>
</ion-content>
