//centraliza o formulário
form{
  width: 100%;
  margin: 20px;
}

ion-card{
    width: 100% !important;
    margin: auto !important;
    box-shadow: none !important;
  }

  ion-card{
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  
  ion-item{
    --background: transparent !important;
    --ion-color-base: transparent !important;
  }

.btn-custom-color {
    --border-color: var(--ion-color-tertiary);
    --color: var(--ion-color-tertiary);
}