ion-toolbar{
    ion-searchbar{
        --background: #d6d5d53b;
        --box-shadow: none;
        --cancel-button-color: var(--ion-color-primary);
        --clear-button-color: var(--ion-color-primary);
    }
}

ion-list-header{
   text-align: left;
   font-weight: bold;
   font-size: 1rem;
}

.categorias ion-card{
      object-fit: cover;
      width: 100%;
      height: 100px;
      margin: 0;
      padding: 0;

}

.categorias h1{
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: black
}

ion-card{
   width: 100%;
   ion-card-content{
      line-height: 2;
      ion-label{
         font-size: 1rem!important;
         font-weight: bold!important;
      }
      p{
         font-size: 0.7rem!important;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
      }

      ion-thumbnail{
         width: 100%;
         --size: 7rem!important
      }
   }

}
