.ion-item{
    ion-icon{
        padding: 5px !important;
        margin: 5px !important;
    }

    ion-label{
        padding: 0!important;
        margin: 0!important;
    }

    ion-buttons{
        padding: 0 !important;
        margin: 0!important;
    }
}
