<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <img src="https://img.elo7.com.br/product/main/2135B2D/chaveiro-ursinho-da-ursal-ursal.jpg" style="width: 100%; height:200px;"/>
      <ion-card-subtitle>Número do pedido: URSS1922</ion-card-subtitle>
      <ion-card-title>Urso de pelúcia Comunista</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <p>
          URSAL, ou "União das Republiquetas Socialistas da América Latina", é um terrível plano de dominação em massa e lavagem-cerebral idealizado pela Globo,
          em conjunto com Pablo Vittar e Ciro Gomes, que visa unificar todos os países da América Latina e do Caribe.
        </p>
        <ion-item class="ion-item" lines="none">
          <ion-icon slot="start" color="success" name="cash-outline"></ion-icon>
          <ion-label slot="start" color="success">R$ 13,00</ion-label>
          <ion-buttons slot="end">
            <ion-button fill="outline" slot="end" size="small" color="primary">Detalhes</ion-button>
          </ion-buttons>
        </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>