<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Meus Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list *ngFor="let pedido of pedidos">
  <ion-card>
     <ion-card-content>
      <ion-list>
         <ion-item button>
            <ion-avatar>
               <img [src]="pedido.logo" />
            </ion-avatar>
            <ion-label class="padding-left">{{pedido.loja}}</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </ion-item>
         <ion-item>
            <ion-grid >
               <ion-row>
                  <ion-col size="11">
                     <ion-text>
                        <p>Código do Pedido - {{pedido.numeroPedido}}</p>
                     </ion-text>
                  </ion-col>
                  <ion-col size="1">
                     <ion-icon class="align-left" name="checkmark-circle-outline" color="success"></ion-icon>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col size="6">
                     <ion-text>
                        <p>{{pedido.produto}}</p>
                     </ion-text>
                  </ion-col>
                  <ion-col size="6">
                     <ion-text class="align-left">
                        <p>{{pedido.quantidade}}</p>
                     </ion-text>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
         <ion-item lines='none'>
            <ion-grid>
               <ion-row>
                  <ion-col size="6">Total</ion-col>
                  <ion-col size="6">
                     <ion-text class="align-left">R$ {{pedido.total}}</ion-text>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
     </ion-card-content>
  </ion-card>
</ion-list>

  <!-- <ion-card>
    <ion-card-header>
      <img src="https://img.elo7.com.br/product/main/2135B2D/chaveiro-ursinho-da-ursal-ursal.jpg" style="width: 100%; height:200px;"/>
      <ion-card-subtitle>Número do pedido: URSS1922</ion-card-subtitle>
      <ion-card-title>Urso de pelúcia Comunista</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <p>
          URSAL, ou "União das Republiquetas Socialistas da América Latina", é um terrível plano de dominação em massa e lavagem-cerebral idealizado pela Globo,
          em conjunto com Pablo Vittar e Ciro Gomes, que visa unificar todos os países da América Latina e do Caribe.
        </p>
        <ion-item class="ion-item" lines="none">
          <ion-icon slot="start" color="success" name="cash-outline"></ion-icon>
          <ion-label slot="start" color="success">R$ 13,00</ion-label>
          <ion-buttons slot="end">
            <ion-button fill="outline" slot="end" size="small" color="primary">Detalhes</ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPcMGSB3z-HyprNq1U3SemrxLIjXHzYttURJgZBnhG1KL9tWrm2cqaIwn5N8TIuj3CWeU&usqp=CAU" style="width: 100%; height:200px;"/>
      <ion-card-subtitle>Número do pedido: URSS1917</ion-card-subtitle>
      <ion-card-title>Foice e Martelo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <p>
          Foice e martelo são símbolos que representam a classe trabalhadora — o trabalho agrícola e o trabalho industrial, respectivamente. Entretanto, o emblema é mais conhecido por ter sido
          incorporado à bandeira vermelha da União Soviética, bem como a cada uma de suas repúblicas constituintes.
        </p>
        <ion-item class="ion-item" lines="none">
          <ion-icon slot="start" color="success" name="cash-outline"></ion-icon>
          <ion-label slot="start" color="success">R$ 26,00</ion-label>
          <ion-buttons slot="end">
            <ion-button fill="outline" slot="end" size="small" color="primary">Detalhes</ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card-content>
  </ion-card> -->
</ion-content>
