ion-header{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 84.2px;
   background-color: white;
}

.ion-item{
    ion-icon{
        padding: 5px !important;
        margin: 5px !important;
    }

    ion-label{
        padding: 0!important;
        margin: 0!important;
    }

    ion-buttons{
        padding: 0 !important;
        margin: 0!important;
    }
}

.align-left{
   float: right;
   padding: 0 5px;
}

.padding-left{
   padding-left: 10px
}

